.SMP-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
    display: none;
}
.SMP-wrap.SMP-wrap-defult {
    background-color: #66666656;
}
.SMP-wrap .SMP-modal.SMP-modal-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
